use_nix -A shell

export POSTGRES_PASSWORD="dev"
export DBMATE_NO_DUMP_SCHEMA=1
export DBMATE_MIGRATIONS_DIR="$(pwd)/schema"

export DATABASE_URL="postgres://postgres:${POSTGRES_PASSWORD}@127.0.0.1:5432/nextjs-starter?sslmode=disable"

export PATH="$(pwd)/node_modules/.bin:$PATH"